body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    height: 100vh;
    background-color: #0F0F1A;
}

.container1,
.container3 {
    width: 25%;
    height: 70vh;
    opacity: 0;
    background-size: cover;
    margin: 60px auto auto;
}

.greeting {
    color: white;
    position: absolute;
    z-index: 9999;
    font-family: 'Dancing Script', cursive;
    top: 20vh;
    font-size: 0px;
    opacity: 0;
    height: 250px;

}

.mode-buttons {
    width: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    top: 40vh;
}

.wand-of-light,
.wand-of-memories {
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    border-width: 2px;
    border-color: lightpink;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    background: none;
    color: white;
    transition: font-size 300ms ease-in-out;
}

.wand-of-memories {
    display: none;
}

.wand-of-light {
    opacity: 0;
}

.wand-title {
    color: white;
    position: absolute;
    z-index: 9998;
    font-family: 'Dancing Script', cursive;
    top: 20px;
    font-size: 72px;
    opacity: 0;
    height: 150px;
    padding-top: 15px;
    cursor: pointer;
    max-width: 800px;
}

.block-container {
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    position: relative;
    cursor: pointer;
}

.block {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    opacity: 0;
    margin: auto;
    z-index: 9998;

}

@media screen and (max-width: 680px) {
    .wand-title {
        font-size: 40px;
    }

    .mode-buttons {
        width: 405px;
    }

}